<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">
    <meta charset="UTF-8"/>

    <!-- Title tag -->
    <th:block layout:fragment="description">
    </th:block>

    <!-- 공용 CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <!-- 에러 팝업 모달 -->
    <!--<link rel="stylesheet" type="text/css" href="/css/errorModal.css"/>-->


    <!-- Custom CSS -->
    <th:block layout:fragment="css">
    </th:block>

    <!-- 공용 JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- 사용자 입력 검증 -->
    <!--<script src="/js/parsley.min.js"></script>-->

    <!-- 에러 팝업 모달 -->
    <!--<script type="text/javascript" th:inline="javascript">-->
        <!--/*<![CDATA[*/-->
        <!--$(document).ready(function () {-->
            <!--const errorModelAttribute = [[${error}]];-->

            <!--if (errorModelAttribute) {-->
                <!--const errorModal = $("#errorModal");-->
                <!--$(".error-modal-title").html(errorModelAttribute.errorTitle);-->
                <!--$(".error-modal-body").find("p").html(errorModelAttribute.errorMessage);-->
                <!--errorModal.modal({backdrop: 'static', keyboard: false});-->
                <!--errorModal.modal('show');-->

                <!--setTimeout(function(){errorModal.modal('hide');}, 3000);-->
            <!--}-->
        <!--});-->
        <!--/*]]>*/-->
    <!--</script>-->

    <!-- 다음 주소 API -->
    <!--<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>-->

    <!-- Custom JS -->
    <th:block layout:fragment="script">
    </th:block>
</head>

</html>