<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container" th:fragment="headerFragment" style="padding-bottom: 100px;">
    <nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" th:href="@{/index}">CLAMER</a>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">PHOTOGRAPHER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">STUDIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">COLLECTIONS</a>
                </li>
            </ul>
        </div>

        <a href="#" class="btn btn-primary" role="button" id="navbar-loginBtn" style="display: none;">
            <i class="fa fa-sign-in" aria-hidden="true"></i>로그인
        </a>

        <a href="#" class="btn btn-primary" role="button" id="navbar-logoutbtn" style="display: none;">
            <i class="fa fa-sign-out" aria-hidden="true"></i>로그아웃
        </a>
    </nav>

    <script>
        // JS 목록
        const HEADER_JAVASCRIPT_ARRAY = [
            "header.js"
        ];

        // CSS 목록
        const HEADER_CSS_ARRAY = [
            "header.css"
        ];

        $(document).ready(function () {

            // CSS 로딩 (로드 할 목록, 기본 CSS 경로)
            CSS_LOADER(HEADER_CSS_ARRAY, "/css/")
                .done(function () { // 호출 성공
                    console.log("[헤더 CSS 로딩 완료]");
                })
                .fail(function (error) { // 에러 발생
                    console.log("[헤더 CSS 로딩 에러]");
                    console.log(error);
                });

            // JS 로딩 (로드 할 목록, 기본 JS 경로)
            SCRIPT_LOADER(HEADER_JAVASCRIPT_ARRAY, "/js/")
                .done(function () { // 호출 성공
                    console.log("[헤더 JAVASCRIPT 로딩 완료]");


                    // 스크립트 로딩 완료 후 페이지에서 처리 할 내용

                    // 로컬 스토리지 토큰 유무에 따라서 버튼 변경
                    if (getJwtToken()) {
                        logoutBtn.show();
                        loginBtn.hide();
                    } else {
                        loginBtn.show();
                        logoutBtn.hide();
                    }
                })
                .fail(function (error) { // 에러 발생
                    console.log("[헤더 JAVASCRIPT 로딩 에러]");
                    console.log(error);
                });
        });
    </script>
</div>

</html>