<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<th:block layout:fragment="description">
    <title>Home Page</title>
</th:block>

<th:block layout:fragment="css">
</th:block>


<th:block layout:fragment="script">
</th:block>

<div class="container" layout:fragment="content">
    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-6">
            <h2>Address Form</h2>
            <form id="addressForm" th:action="@{/addressRegistration}" th:object="${addressDetails}" method="POST">
                    <div class="form-group">
                        <input class="btn btn-primary" type="button" onclick="searchByPostcode()" value="주소 찾기"/>
                    </div>

                    <div class="form-group">
                        <label for="postcodeField">우편변호</label>
                        <input class="form-control" type="text" id="postcodeField" placeholder="우편번호"/>
                    </div>
                    <div id="searchElementWrapper"
                         style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                        <img src="//t1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnFoldWrap"
                             style="cursor:pointer;position:absolute;right:0;top:-1px;z-index:1"
                             onclick="foldSearchFrame()"
                             alt="접기 버튼"/>
                    </div>
                    <div class="form-group">
                        <label for="addressField">주소</label>
                        <input type="text" id="addressField" class="d_form large form-control" placeholder="주소"/>
                    </div>
                    <div class="form-group">
                        <label for="addressDetailsField">상세 주소</label>
                        <input type="text" id="addressDetailsField" class="d_form large form-control"
                               placeholder="상세 주소"/>
                    </div>
                <div>
                    <button type="button" class="btn btn-success btn-add">주소 추가</button>
                </div>
            </form>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
            <br/>
            <div class="col-sm-12 col-md-6 col-lg-6" th:each="address : ${addresses}">
                <div class="thumbnail">
                    <div class="caption">
                        <strong>Address #<span th:text="${address.index}"></span></strong>
                        <span class="glyphicon glyphicon-ok text-success" th:if="${address.defaultAddress}=='TRUE'"></span>
                        <span class="glyphicon glyphicon-trash text-danger pull-right"></span>
                        <p th:text="${address.postNumber}">Post Number</p>
                        <p th:text="${address.address}">Address</p>
                        <p th:text="${address.addressDetails}">Address Details</p>
                        <button type="button" class="btn btn-primary btn-sm">Set Default</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // 우편번호 찾기 찾기 화면을 넣을 element
        const searchElementWrapper = document.getElementById('searchElementWrapper');

        function foldSearchFrame() {
            // iframe을 넣은 element를 안보이게 한다.
            searchElementWrapper.style.display = 'none';
        }

        function searchByPostcode() {
            // 현재 scroll 위치를 저장해놓는다.
            let currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
            new daum.Postcode({
                oncomplete: function (data) {
                    // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    let fullAddr = data.address; // 최종 주소 변수
                    let extraAddr = ''; // 조합형 주소 변수

                    // 기본 주소가 도로명 타입일때 조합한다.
                    if (data.addressType === 'R') {
                        //법정동명이 있을 경우 추가한다.
                        if (data.bname !== '') {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있을 경우 추가한다.
                        if (data.buildingName !== '') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                        fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('postcodeField').value = data.zonecode; //5자리 새우편번호 사용
                    document.getElementById('addressField').value = fullAddr;

                    // iframe을 넣은 element를 안보이게 한다.
                    // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                    searchElementWrapper.style.display = 'none';

                    // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                    document.body.scrollTop = currentScroll;
                },
                // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
                onresize: function (size) {
                    searchElementWrapper.style.height = size.height + 'px';
                },
                width: '100%',
                height: '100%'
            }).embed(searchElementWrapper);

            // iframe을 넣은 element를 보이게 한다.
            searchElementWrapper.style.display = 'block';
        }
    </script>
</div>
</html>