<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/layout">

<th:block layout:fragment="description">
    <title>Hello Page</title>
</th:block>

<th:block layout:fragment="css">

</th:block>


<th:block layout:fragment="script">
    <script src="/js/hello.js"></script>
</th:block>

<div class="container" layout:fragment="content">
    <!--<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->

    <p sec:authentication="name"></p>
    <p sec:authentication="principal.authorities"></p>
    <hr/>
    <div id="testtest"></div>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

</html>