<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<th:block layout:fragment="description">
    <title>Home Page</title>
</th:block>

<div class="container" layout:fragment="content">
    <div class="row">

        <!-- 왼쪽 -->
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card card-outline-info mb-3">
                <div class="card-block">
                    <h3 class="card-title"> 유저 목록</h3>
                    <div class="card-text">
                        <ul>
                            <li>
                                user1 / user1 : USER, ADMIN
                            </li>
                            <li>
                                user2 / user2 : USER
                            </li>
                            <li>
                                user3 / user3 : API_ALLOWED (REST API 직접 접근 가능 권한)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card card-outline-danger mb-3">
                <div class="card-block">
                    <h3 class="card-title"> 현재 접속한 유저 정보</h3>
                    <div class="card-text">
                        <ul id="currentLoggedInUserInfo" style="overflow: auto;">
                            <li>비로그인 상태입니다</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- 오른쪽 -->
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h1>서버 요청 테스트</h1>
            <div id="serverRequestTestAccordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="ajaxReactiveSearchHeader">
                        <button type="button" class="btn btn-success btn-block collapsed" data-toggle="collapse"
                                data-parent="#serverRequestTestAccordion"
                                data-target="#ajaxReactiveSearch" aria-expanded="false" aria-controls="collapseOne">
                            AJAX 반응형 검색
                        </button>
                    </div>
                    <div id="ajaxReactiveSearch" class="collapse" role="tabpanel"
                         aria-labelledby="ajaxReactiveSearchHeader">
                        <div class="card card-inverse card-primary">
                            <div class="card-block">
                                <h3 class="card-title">데이터베이스에서 사용자 검색</h3>
                                <div class="form-group">
                                    <label for="ajaxReactiveSearch-username">
                                        Username
                                    </label>
                                    <input type="text" class="form-control" id="ajaxReactiveSearch-username"
                                           placeholder="Username"/>
                                </div>
                                <div class="card-text">
                                    <p>검색 결과<span id="ajaxReactiveSearch-resultCount"></span></p>
                                    <ul id="ajaxReactiveSearch-result" style="height:100px;overflow: auto;">
                                    </ul>
                                    <hr/>
                                    <p>상세 정보</p>
                                    <ul id="ajaxReactiveSearch-details">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="funcRestrictedByAuthHeader">
                        <button type="button" class="btn btn-success btn-block collapsed" data-toggle="collapse"
                                data-parent="#serverRequestTestAccordion"
                                data-target="#funcRestrictedByAuth"
                                aria-expanded="false" aria-controls="collapseTwo">
                            계정 권한에 따른 요청 제한
                        </button>
                    </div>
                    <div id="funcRestrictedByAuth" class="collapse" role="tabpanel"
                         aria-labelledby="funcRestrictedByAuthHeader">
                        <div class="card card-inverse card-primary">
                            <div class="card-block">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-secondary" id="funcRestrictedByAuth-public">No
                                        authority
                                    </button>
                                    <button type="button" class="btn btn-secondary" id="funcRestrictedByAuth-adminOnly">
                                        Admin only
                                    </button>
                                    <button type="button" class="btn btn-secondary" id="funcRestrictedByAuth-userOnly">
                                        User only
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            id="funcRestrictedByAuth-requiredBoth">
                                        Required both
                                    </button>
                                </div>
                                <div class="card-text">
                                    <hr/>
                                    <p>요청 결과</p>
                                    <div class="card">
                                        <div class="card-block" id="funcRestrictedByAuth-result">
                                            <div class="card-text" style="color:black;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="callRestApiHeader">
                        <button class="btn btn-success btn-block collapsed" data-toggle="collapse"
                                data-parent="#serverRequestTestAccordion"
                                data-target="#callRestApi" aria-expanded="false" aria-controls="collapseThree">
                            REST API 직접 접근
                        </button>
                    </div>
                    <div id="callRestApi" class="collapse" role="tabpanel" aria-labelledby="callRestApiHeader">
                        <div class="card card-inverse card-primary">
                            <div class="card-block">
                                <button type="button" class="btn btn-secondary" id="callRestApi-btn">
                                    REST API 목록 확인
                                </button>
                                <div class="card-text">
                                    <hr/>
                                    <p>요청 결과</p>
                                    <p>(목록 클릭시 반환 정보는 콘솔에서 확인 가능)</p>
                                    <div class="card">
                                        <div class="card-block" id="callRestApi-result">
                                            <div class="card-text" style="color:black;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <script>

        // JS 목록
        const INDEX_JAVASCRIPT_ARRAY = [
            "index.js"
        ];

        // CSS 목록
        const INDEX_CSS_ARRAY = [
            "index.css"
        ];

        $(document).ready(function () {

            // CSS 로딩
            CSS_LOADER(INDEX_CSS_ARRAY, "/css/")
                .done(function () { // 호출 성공
                    console.log("[인덱스 CSS 로딩 완료]");
                })
                .fail(function (error) { // 에러 발생
                    console.log("[인덱스 CSS 로딩 에러]");
                    console.log(error);
                });

            // JS 로딩
            SCRIPT_LOADER(INDEX_JAVASCRIPT_ARRAY, "/js/")
                .done(function () { // 호출 성공
                    console.log("[인덱스 JAVASCRIPT 로딩 완료]");


                    // 스크립트 로딩 완료 후 페이지에서 처리 할 내용

                    if (getJwtToken()) { // 페이지 로딩시 로컬 스토리지에 토큰이 존재하면
                        showCurrentLoggedInUserInfo(); // 현재 접속한 사용자 정보 뷰 표시
                    } else { // 토큰 없으면
                        clearLoggedInUserInfo(); // 현재 로그인 사용자 정보 뷰 클리어
                    }
                })
                .fail(function (error) { // 에러 발생
                    console.log("[인덱스 JAVASCRIPT 로딩 에러]");
                    console.log(error);
                });
        });
    </script>
</div>

</html>