<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<th:block layout:fragment="description">
    <title>Home Page</title>
</th:block>

<div class="container" layout:fragment="content">
    <h1>LOGIN</h1>
    <form id="loginForm">
        <div class="card card-inverse card-danger" id="loginForm-error" style="margin: 30px; display: none;">
            <div class="card-block">
                <h2 class="card-title">오류가 발생했습니다</h2>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="form-group row">
            <label for="loginUsername" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="loginUsername" placeholder="Username" required="required"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="loginPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="loginPassword" placeholder="Password"
                       required="required"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary">로그인</button>
                <br/>
                <a th:href="@{/registration}">Registration</a>
            </div>
        </div>
    </form>

    <!---->
    <!---->
    <!---->
    <!---->
    <!---->

    <script>

        // JS 목록
        const LOGIN_JAVASCRIPT_ARRAY = [
            "login.js"
        ];

        // CSS 목록
        const LOGIN_CSS_ARRAY = [
            "login.css"
        ];

        $(document).ready(function () {

            // CSS 로딩
            CSS_LOADER(LOGIN_CSS_ARRAY, "/css/")
                .done(function () { // 호출 성공
                    console.log("[로그인 CSS 로딩 완료]");
                })
                .fail(function (error) { // 에러 발생
                    console.log("[로그인 CSS 로딩 에러]");
                    console.log(error);
                });

            // JS 로딩
            SCRIPT_LOADER(LOGIN_JAVASCRIPT_ARRAY, "/js/")
                .done(function () { // 호출 성공
                    console.log("[로그인 JAVASCRIPT 로딩 완료]");
                })
                .fail(function (error) { // 에러 발생
                    console.log("[로그인 JAVASCRIPT 로딩 에러]");
                    console.log(error);
                });
        });
    </script>
</div>
</html>