<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<th:block layout:fragment="description">
    <title>Registration Confirmation Page</title>
</th:block>

<th:block layout:fragment="css">
</th:block>


<th:block layout:fragment="script">
</th:block>

<div class="container" layout:fragment="content">
<h1>Registration Confirmation</h1>
    <form id="tokenVerificationForm" th:action="@{/registrationConfirmation}" th:object="${verificationToken}" method="POST">

        <div class="form-group">
            <label for="token">
                Enter verification token
            </label>
            <input type="text" class="form-control" id="token" name="token" th:field="*{token}" required=""/>
        </div>

        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>

    <a th:href="@{/resendVerificationToken}">Resend token</a>
</div>

</html>