<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<th:block layout:fragment="description">
    <title>Resend Verification Token Page</title>
</th:block>

<th:block layout:fragment="css">
</th:block>


<th:block layout:fragment="script">
</th:block>

<div class="container" layout:fragment="content">
    <h1>Resend Verification Token</h1>
    <form id="resendVerificationTokenForm" th:action="@{/resendVerificationToken}" th:object="${user}" method="POST">

        <div class="form-group">
            <label for="email">
                Enter Email address
            </label>
            <input type="email" class="form-control" id="email" name="email" th:field="*{email}" required=""/>
        </div>

        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
    <a th:href="@{/registrationConfirmation}">Go to confirm</a>
</div>

</html>